In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import math
import seaborn as sns
import sklearn
from sklearn import linear_model
from sklearn import preprocessing
%matplotlib inline
sns.set_style('white')

In [7]:
admission = pd.read_csv('Admission_Predict_Ver1.1.csv')
admission.drop(['Serial No.'], axis=1, inplace=True)
admission.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [8]:
names = admission.columns
admission = pd.DataFrame(preprocessing.scale(admission), columns=names)
admission.head()

c:\users\shuaix\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1.819238,1.778865,0.775582,1.137360,1.098944,1.776806,0.886405,1.406107
1,0.667148,-0.031601,0.775582,0.632315,1.098944,0.485859,0.886405,0.271349
2,-0.041830,-0.525364,-0.099793,-0.377773,0.017306,-0.954043,0.886405,-0.012340
3,0.489904,0.462163,-0.099793,0.127271,-1.064332,0.154847,0.886405,0.555039
4,-0.219074,-0.689952,-0.975168,-1.387862,-0.523513,-0.606480,-1.128152,-0.508797

## splitting training and testing set

In [11]:
from sklearn.model_selection import train_test_split
admission.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [12]:
X_train, X_test, y_train, y_test = train_test_split(admission.drop('Chance of Admit ',axis=1), 
                                                    admission['Chance of Admit '], test_size=0.30, 
                                                    random_state=101)

## 1. Linear regression

In [14]:
regr = linear_model.LinearRegression()
regr.fit(X_train,y_train)
print('\nR-squared simple model:')
print(regr.score(X_test,y_test))

R-squared simple model:
0.8260541587118344

## 2. Ridge logistic regression

In [17]:
ridgeregr = linear_model.Ridge(alpha=10, fit_intercept=False)
ridgeregr.fit(X_train, y_train)
print('\nR-squared ridge model:')
print(ridgeregr.score(X_test,y_test))

R-squared ridge model:
0.8258871795774368

## 3. Lasso logistic regression

In [27]:
lass = linear_model.Lasso(alpha=0.03)
lassfit = lass.fit(X_train, y_train)
print('\nR-squared Lasso model:')
print(lass.score(X_test,y_test))

R-squared Lasso model:
0.8265184220670129